body {
  max-width: 320px;
  margin: auto;
  font-family: 'Baloo 2', cursive;
}

img {
  display: block;
  max-width: 100%;
}

.chatbox-container {
  background-image: url(../img/fond_2.png);
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  border-left: 2px  solid #3D70B6;
  border-right: 2px solid #EE751B;
  display: flex;
  flex-direction: column;
  font-size: 13px;
}

.chatbox-container-header {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  background: #FBE5D8;
  box-shadow: 0px 12px 0px -5px #79BD73;
  color: #3D70B6;
  margin-bottom: 40px;
  z-index: 2;
}

h2 {
  font-size: 14px;
}

.profil-greta {
  width: 40px;
  margin-left: 20px;
}

.profil-name {
  line-height: 1px;
  margin: 10px;
  margin-right: 50px;
}

.call {
  width: 25px;
  align-self: center;
  margin: 10px;
}

.burger {
  width: 5px;
  margin: 10px;
}

.message-box {
  margin-bottom: 15px;
  background: #FBE5D8;
  max-width: 75%;
  margin-bottom: 30px;
  position: relative;
}

.message-content {
  margin: 0;
  padding: 10px;
}

.message-box-hope {
  border: 2px solid #3D70B6;
  box-shadow: 9px 9px #3D70B6;
  margin-left: 20px;
}

.message-box-hope::before {
  content: "";
  display: block;
  width: 26px;
  height: 26px;
  background: #EE751B;
  border-radius: 50%;
  border: 1px solid #FBE5D8;
  position: absolute;
  top: -10px;
  left: -10px;
}

.message-box-greta {
  border: 2px solid #EE751B;
  box-shadow: -9px 9px 0px 2px #EE751B;
  align-self: flex-end;
  margin-right: 20px;
}

.message-box-greta::before {
  content: "";
  display: block;
  width: 26px;
  height: 26px;
  background: #3D70B6;
  border-radius: 50%;
  border: 1px solid #FBE5D8;
  position: absolute;
  top: -10px;
  right: -10px;
}

.message-box-stickers {
  max-width: 50%;
  align-self: flex-end;
}

.message-time {
  background: #FBE5D8;
  padding: 5px;
  margin-bottom: 40px;
  box-shadow: 0px 12px 0px -5px #79BD73;
  text-align: center;
  font-weight: 700;
}

.gif {
  max-width: 96%;
  margin: 0;
  padding: 5px 5px 30px 5px;
  border-radius: 10px;
}

.rue-maison {
  max-width: 95%;
  margin: 6px;
  margin-bottom: 30px;
}

footer {
  display: flex;
  justify-content: space-around;
  position: sticky;
  bottom: 0;
  background: #FBE5D8;
  padding: 10px;
  box-shadow: 0px -12px 0px -5px #79BD73;
}

input {
  width: 58%;
  margin: 10px;
  margin-right: 5px;
}

button {
  width: 30px;
  border: none;
  background: none;
  align-self: center;
}

.icone {
  width: 20px;
  align-self: center;
}